# ignore everything
*

# except
!.gitignore

!example.env

!README.md

!go.mod
!go.sum

!Makefile

!*.go

!cmd
!cmd/recorder
!cmd/stig

!internal
!internal/agent
!internal/brain
!internal/controller
!internal/env
!internal/game
!internal/screen
